<h1>Welcome to Airbnb</h1>
<%if user_signed_in?%>
 <%= current_user.name%>
 <%= button_to 'Logout', destroy_user_session_path, method: :delete%>
<%else%>
 <%= link_to 'Login', new_user_session_path%>
<%end%>

<%= link_to 'Listings', listings_path(@listings)%>